.container
  .row
    .col-xs-12
      %h1 Sad?
      %a{:href => "#", class:"btn btn-default", id:"btnSad"}   Yes :(
      %a{:href => "#", class:"btn btn-default", id:"btnHappy"} No :)
  .row
    .col-xs-12
      %h1 Sad Map
      #chartdiv
