.container
  .row
    .col-xs-12.col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Sad messages
        .panel-body
          %h1#sads-count.center
            %span#sads= "#{@sads}"
          %h1.center#sads-text
            %small sad messages
    .col-xs-12.col-md-8
      .panel.panel-default
        .panel-heading
          %h3.panel-title World Sad Map
        .panel-body
          #mapdiv