.container
  .row
    .col-xs-12
      #mapdiv
  .row
    .col-xs-12
      %h1
        %span#sads= @sads
        people sad.
  .row
    .col-xs-12
      %h1 Sad?
      %a{:href => "#", class:"btn btn-default", id:"btnSad"}   Yes :(
      %a{:href => "#", class:"btn btn-default", id:"btnHappy"} No :)
